---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeToggle from './ThemeToggleBtn';
---

<header class="h-16 w-full flex flex-wrap justify-between items-center px-48 my-4 text-base">
	<div class="flex flex-wrap gap-4 items-center">
		<img src="/favicon.ico" alt="Ava" class="h-10 w-10 border-2 rounded border-zinc-900 dark:border-cyan-300" />
		<h2 class="font-semibold tracking-tighter font-lg">{SITE_TITLE}</h2>

		<div class="flex flex-wrap gap-4 mx-8">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</div>

	<div class="flex flex-wrap items-center">
		<ThemeToggle client:idle />
	</div>
</header>

