---
import Body from '../components/Body.astro';
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  author: string;
  date: string;
}>;

// Now, `frontmatter`, `url`, and other Markdown layout properties
// are accessible with type safety
const { frontmatter, url } = Astro.props;

console.log()
---
<html>
  <head>
    <link rel="canonical" href={new URL(url, Astro.site).pathname}>
    <title class="text-8xl">{frontmatter.title}</title>
  </head>
  <Body>
    {frontmatter.draft ? <p class="text-red-500">This is a draft. Not yet published</p> : null}
    <div class="my-4">
        <slot />
    </div>
    <p>Written on: {frontmatter.date}</p>
  </Body>
</html>